 <head>
<link rel="stylesheet" type="text/css" href="stylesheet.css">
</head> 

<head>
	<style>
body {
text-align: center;
background-color: #fcfdff;
background-image: url("https://www.transparenttextures.com/patterns/stressed-linen.png");
}

h2 {
	color: #45657d;
	font-family: "Arial", Verdana, sans-serif;
   column-span: none;
  column-span: all;
}

h3 {
  color: #45657d;
  font-family: "Arial", Verdana, sans-serif;
   column-span: none;
  column-span: all;
}

h4 {
	color: white;
	font-family: "Arial", Verdana, sans-serif;
  column-span: none;
}

p {
color: #45657d;
font-family: "Arial", Verdana, sans-serif;
column-span: none;
  column-span: all;
}

 /* unvisited link */
a:link {
  color: #45657d;
}

/* visited link */
a:visited {
  color: #45657d;
}

/* mouse over link */
a:hover {
  color: #00b2d1;
}

/* selected link */
a:active {
  color: #45657d;
} 

/* set color of list item text */
ul li {
  color: #45657d; 
  font-family: "Arial", Verdana, sans-serif;
  list-style-type: circle;
  column-span: none;
  column-span: all;
}

/* Container holding the image and the text */
.image {
  position: relative;
}

/* Bottom right text */
.text-block {
  position: absolute;
  top: 40px;
  left: 200px;
  background-color: #075563;
  -moz-opacity: 0.6;
  opacity: 0.6;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

.text {
column-count: 2;
column-gap: 10px;
column-rule: 1px dashed #45657d;
background-color: white;
border: 1px solid #45657d;
border-width:1px;
padding-top: 40px;
padding-left: 0px;
padding-right: 0px;
padding-bottom: 40px;
column-span: all;
width: 90%;
margin:auto;
position:relative;
} 

/* Expando Bits */

.expando {
  display: none;
}

.expando:target {
  display: block;
}


</style>
</head>

